:root {
  --rows-per-rect: 10;
  --cols-per-rect: 26;

  --dark-gray: #333;
  --rect-gap: 10px;
  --week-gap: 5px;
  --week-size: 10px;
}

@page {
  size: a4 portrait;
}

@media print {
  .week-cell {
    -webkit-print-color-adjust: exact;
  }
}

.title {
  color: var(--dark-gray);
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 25px;
  text-align: center;
}

#quote {
  float: footnote;
  margin: 30px 20px 20px;
}

#calendar {
  /* https://github.com/afonsocrg/mementoMori/issues/1 */
  /* width: 0px; */ /* make it fit its content. TODO: calculate it dynamically */
  display: grid;
  grid-gap: var(--rect-gap);
  grid-template-columns: repeat(2, auto);
  width: 90vw;
}

/* https://github.com/afonsocrg/mementoMori/issues/1 - Added these lines to center the calendar in the middle of the screen but keep print layout as it is */
@media screen {
  #calendar {
    justify-content: center;
    margin: auto;
  }
}

.rect-container {
  display: grid;
  grid-gap: var(--week-gap);
  grid-template-columns: repeat(var(--cols-per-rect), auto);
}

.week-cell {
  border: 1px solid var(--dark-gray);
  height: var(--week-size);
  width: var(--week-size);
}
