:root {
  --rows-per-rect: 10;
  --cols-per-rect: 26;

  --color-dark-gray: #333;
  --color-black: #000;
  --color-white: #fff;
  --rect-gap: 10px;
  --week-gap: 5px;
  --week-size: 10px;
}

@page {
  size: a4 portrait;
}

@media print {
  .week-cell {
    -webkit-print-color-adjust: exact;
  }
}

.title {
  color: var(--color-dark-gray);
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 25px;
  text-align: center;
}

#quote {
  margin: 60px auto;
  max-width: 880px;
  padding: 0 1rem;
  width: calc(100% - 2rem);
}
.whitespace {
  height: 30px;
}

#calendar {
  /* https://github.com/afonsocrg/mementoMori/issues/1 */
  /* width: 0px; */ /* make it fit its content. TODO: calculate it dynamically */
  display: grid;
  grid-gap: var(--rect-gap);
  grid-template-columns: repeat(2, auto);
  width: 90vw;
}

/* https://github.com/afonsocrg/mementoMori/issues/1 - Added these lines to center the calendar in the middle of the screen but keep print layout as it is */
@media screen {
  #calendar {
    justify-content: center;
    margin: auto;
  }
}

.rect-container {
  display: grid;
  grid-gap: var(--week-gap);
  grid-template-columns: repeat(var(--cols-per-rect), auto);
}

.week-cell {
  border: 1px solid var(--color-dark-gray);
  height: var(--week-size);
  width: var(--week-size);
}

.download{
  display: grid;
  justify-content: center;
  align-items: center;
}

.download button{
  background-color: var(--color-black);
  color: #fff;
  width: 15em;
  height: 3em;
  border: 1px solid var(--color-dark-gray);
  border-radius: 0.5em;
  margin-bottom: 20px;
  transition: background-color 0.5s, color 0.5s;
}

.download button:hover{
  cursor: pointer;
  background-color: #fff;
  color: var(--color-black);
}