  :root {
    --rows-per-rect: 10;
    --cols-per-rect: 26;

    --dark-gray: #333333;
    --rect-gap: 8px;
    --week-gap: 5px;
    --week-size: 8px;
  }

  body {
    font-family: 'Inter', sans-serif;
  }

  @page {
    size: A4 portrait;
  }

  @media print {
    .week-cell {
      -webkit-print-color-adjust: exact;
    }
  }

  .title {
    color: var(--dark-gray);
    text-align: center;
    margin: 60px 0;
    font-size: 50px;
    font-weight: 700;
  }

  #quote {
    margin: 60px auto;
    width: 100%;
    max-width: 760px;
  }

  .calendar {
    /* https://github.com/afonsocrg/mementoMori/issues/1 */
    /*width: 0px;*/ /* make it fit its content. TODO: calculate it dynamically */
    width: 100%;
    max-width: 760px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(10, auto);
  }

  /* https://github.com/afonsocrg/mementoMori/issues/1 - Added these lines to center the calendar in the middle of the screen but keep print layout as it is */
  @media screen {
    .calendar {
      margin: auto;
      justify-content: center;
    }
  }

  .rect-container {
    display: grid;
    grid-gap: var(--week-gap);
    grid-template-columns: repeat(var(--cols-per-rect), auto);
  }

  .week-cell {
    align-items: center;
    border: 1px solid var(--dark-gray);
    display: inline-flex;
    height: var(--week-size);
    justify-content: center;
    width: var(--week-size);
  }

  .year-cell {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--week-gap);
  }

  .month-cell {
    display: grid;
    grid-row-gap: var(--week-gap);
  }

  .year-label {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 8px;
  }

  /* Tooltips */
  [data-tooltip] {
    position: relative;
    cursor: default;
  }

  [data-tooltip]:hover::before {
    content: attr(data-tooltip);
    font-size: 14px;
    text-align: left;
    position: absolute;
    display: block;
    left: 50%;
    min-width: 60px;
    max-width: 160px;
    width: max-content;
    bottom: calc(100% + 10px);
    transform: translate(-50%);
    animation: fade-in 300ms ease;
    background: #272727;
    border-radius: 4px;
    padding: 10px 10px 14px;
    color: #ffffff;
    z-index: 1;
  }

  [data-tooltip]:hover::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    width: 0;
    height: 0;
    bottom: calc(100% + 6px);
    margin-left: -6px;
    border: 1px solid black;
    border-color: #272727 transparent transparent transparent;
    border-width: 4px 6px 0;
    animation: fade-in 300ms ease;
    z-index: 1;
  }
